<div id="schema-fields">

    {% for field in fields %}

        {% include "documents/partials/schema/schema_field_row.html" %}

    {% empty %}

        <div class="empty-state">
            No fields defined yet
        </div>

    {% endfor %}

</div>

{% if schema.pk %}

    <div class="panel-actions">

        <button
                class="primary-button"
                hx-get="{% url 'schema_field_form' schema.pk %}"
                hx-target="#schema-field-form"
                hx-swap="innerHTML">

            + Add Field

        </button>

    </div>

    <div id="schema-field-form"></div>

{% else %}

    <div class="empty-state">
        Save the schema before adding fields.
    </div>

{% endif %}

<div id="schema-field-form"></div>