<div class="card">

    <div class="title">
        {{ application.position_title }}
    </div>

    <div class="muted">
        {{ application.company.name }}
    </div>

    <a
            href="{% url 'application_edit' application.pk %}"
            class="primary-button"
    >
        Edit
    </a>

</div>

<div class="card">

    <h3>Status</h3>

    <div class="badge">
        {{ application.get_status_display }}
    </div>

    <div class="actions">

        {% include "applications/partials/status_actions.html" %}

    </div>

</div>
