<div class="card">


    <h3>{{ template.name }}</h3>

    <form
            hx-post="{% url 'generate_document' application.id document_type %}"
            hx-target="#application-documents"
            hx-swap="outerHTML"
            class="form"
    >

        {% csrf_token %}

        <div class="form-grid">

            {% for field in form %}

                <div class="form-field">

                    <label class="form-label">
                        {{ field.label }}
                    </label>

                    {{ field }}

                </div>

            {% endfor %}

        </div>

        <div class="form-actions">

            <button class="primary-button">
                Generate Document
            </button>

        </div>

    </form>

</div>