<div class="card">

    <h3>Status</h3>

    <div class="status-badge">
        {{ application.get_status_display }}
    </div>

    <div class="status-actions">

        {% for status, label, color in actions %}

            <button
                    hx-post="{% url 'change_status' application.pk %}"
                    hx-target="#status-section"
                    hx-swap="outerHTML"
                    hx-vals='{"status":"{{ status }}"}'
            >
                {{ label }}
            </button>

        {% endfor %}

    </div>

</div>