{% extends "base.html" %}

{% block content %}

    <div class="detail-grid">

        <div class="detail-column">

            {% include "applications/partials/detail/application_header.html" %}

            {% include "applications/partials/detail/application_status.html" %}

            {% include "applications/partials/detail/application_meta.html" %}

            {% include "applications/partials/detail/application_notes.html" %}
            
            {% include "applications/partials/detail/completeness_card.html" %}

        </div>

        <div class="detail-sidebar">

            {% include "applications/partials/detail/company_card.html" %}

            {% include "applications/partials/detail/contact_card.html" %}

            {% include "applications/partials/detail/application_documents.html" %}

            <div id="history-card" hx-swap-oob="true">

                {% include "applications/partials/detail/history_card.html" %}

            </div>

        </div>

    </div>


{% endblock %}