<div class="card">

    <h3>Conversion Rates</h3>

    <div class="metric-list">

        <div class="metric-row">
            <span>Saved → Applied</span>
            <span>
                {{ conversion.saved_to_applied }}%
            </span>
        </div>

        <div class="metric-row">
            <span>Applied → Interview</span>
            <span>
                {{ conversion.applied_to_interview }}%
            </span>
        </div>

        <div class="metric-row">
            <span>Interview → Offer</span>
            <span>
                {{ conversion.interview_to_offer }}%
            </span>
        </div>

    </div>

</div>