<div class="panel-section">
    <div class="section-header">
        <h3 class="section-title">
            {% if is_edit %}
                Edit Field
            {% else %}
                Add Field
            {% endif %}
        </h3>
    </div>

    <form
            class="form"
            method="post"

            {% if is_edit %}

            hx-post="{% url 'schema_field_update' schema_id field_id %}"

            {% else %}

            hx-post="{% url 'schema_field_store' schema_id %}"

            {% endif %}

            hx-target="#schema-fields"
            hx-swap="innerHTML">

        {% csrf_token %}

        <div class="form-row">
            {{ form.name.label_tag }}

            {{ form.name }}
        </div>

        <div class="form-row">
            {{ form.label.label_tag }}

            {{ form.label }}
        </div>

        <div class="form-row">
            {{ form.field_type.label_tag }}

            {{ form.field_type }}
        </div>

        <div class="checkbox-group">
            <div class="checkbox-item">
                {{ form.required }}

                {{ form.required.label_tag }}
            </div>
        </div>

        <div class="form-actions">
            <button
                    type="button"
                    class="secondary-button"
                    onclick="this.closest('#schema-field-form').innerHTML=''">

                Cancel
            </button>

            <button
                    type="submit"
                    class="primary-button">

                {% if is_edit %}
                    Update Field
                {% else %}
                    Add Field
                {% endif %}
            </button>
        </div>
    </form>
</div>