{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}ApplyDesk{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/cookie.js' %}"></script>
    <script src="{% static 'js/kanban.js' %}"></script>
    <script src="{% static 'js/side_panel.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    {% block head %}
    {% endblock %}
</head>
<body>

<div class="app-shell">

    <aside class="sidebar">

        <div class="logo">
            ApplyDesk
        </div>

        <nav class="nav">
            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>

            <a href="{% url 'application_list' %}">
                Applications
            </a>

            <a href="{% url 'application_pipeline' %}">
                Kanban
            </a>

            <a href="{% url 'company_list' %}">
                Companies
            </a>

            <a href="{% url 'document_list' %}">
                Documents
            </a>

        </nav>

    </aside>

    <main class="main">

        {% block content %}{% endblock %}

    </main>
</div>
<div id="modal-backdrop"></div>
<div id="modal-container"></div>

<div id="side-panel-backdrop"></div>
<div id="side-panel"></div>
</body>
</html>